body{
    margin: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin: 15px;
    border: solid;
    border-radius: 5px;
    padding: 40px;
    background-color: brown;
    color: white;
    box-shadow: 2px 2px black;
}
.containerBox{
    display: flex;
    flex-wrap: wrap;
}